body{
  font-size: 25px;
  font-family: font-family: 'Roboto Mono', monospace;
  color: #E7F6F2;

}
html {
  background-color: #2C3333;
}
h3{
  color: #395B64;
  font-size: 35px ;
}
a
{
  color: #A5C9CA;
  font-size: 30px;
}
td{
  font-size: 40px;
font-family: 'Inconsolata', monospace;
}
